In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [10]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [19]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [20]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

### 5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [13]:
gdp_df.shape

(8219, 4)

In [15]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

### 6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [25]:
GDP_per_Capita = gdp_df.drop(columns = ['Value Footnotes'])
GDP_per_Capita

     Country or Area  Year        Value
0        Afghanistan  2023  1992.424394
1        Afghanistan  2022  1981.710168
2        Afghanistan  2021  2144.166570
3        Afghanistan  2020  2769.685745
4        Afghanistan  2019  2927.245144
...              ...   ...          ...
8214        Zimbabwe  1994  3965.730986
8215        Zimbabwe  1993  3634.750494
8216        Zimbabwe  1992  3649.891947
8217        Zimbabwe  1991  4126.405247
8218        Zimbabwe  1990  4013.299059

[8219 rows x 3 columns]

In [47]:
GDP_per_Capita = GDP_per_Capita.rename(columns={'Country or Area':'Country','Year':'year','Value':'GDP_Per_Capita'})

In [48]:
GDP_per_Capita

          Country  year  GDP_Per_Capita
0     Afghanistan  2023     1992.424394
1     Afghanistan  2022     1981.710168
2     Afghanistan  2021     2144.166570
3     Afghanistan  2020     2769.685745
4     Afghanistan  2019     2927.245144
...           ...   ...             ...
8214     Zimbabwe  1994     3965.730986
8215     Zimbabwe  1993     3634.750494
8216     Zimbabwe  1992     3649.891947
8217     Zimbabwe  1991     4126.405247
8218     Zimbabwe  1990     4013.299059

[8219 rows x 3 columns]

### 7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [52]:
GDP_per_Capita['year'].nunique()

34

In [55]:
year_count = GDP_per_Capita['Country'].value_counts()

In [56]:
year_count

Country
Africa Eastern and Southern    34
Africa Western and Central     34
Albania                        34
Andorra                        34
Algeria                        34
                               ..
Faroe Islands                  16
Kosovo                         16
Sint Maarten (Dutch part)      15
Turks and Caicos Islands       13
Djibouti                       11
Name: count, Length: 247, dtype: int64

In [57]:
type(year_count)

pandas.core.series.Series

In [59]:
year_count = year_count.to_frame()

In [62]:
year_count = year_count.reset_index()

In [63]:
type(year_count)

pandas.core.frame.DataFrame

### 8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

In [64]:
GDP_per_Capita.head()

       Country  year  GDP_Per_Capita
0  Afghanistan  2023     1992.424394
1  Afghanistan  2022     1981.710168
2  Afghanistan  2021     2144.166570
3  Afghanistan  2020     2769.685745
4  Afghanistan  2019     2927.245144

In [69]:
gdp_2020 = GDP_per_Capita.loc[GDP_per_Capita['year'] == 2020]

In [70]:
gdp_2020.head()

                         Country  year  GDP_Per_Capita
3                    Afghanistan  2020     2769.685745
27   Africa Eastern and Southern  2020     3861.111238
61    Africa Western and Central  2020     4622.731427
95                       Albania  2020    14650.395929
129                      Algeria  2020    14194.155748